/*
*{
    border: 1px solid blue;
}
*/


html,body{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    
    font-size: 62.5%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


/******Header/Top section of the newsletter******/
header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #003b65;
    height: 85%;
}


section{
    overflow: hidden;
    display: inline-block;
    height: 35%;
}
.left_sect{
/*    float: left;*/
/*    background-color: pink;*/
    background-color: white;
    width: 55%;
}
.right_sect{
    float: right;
/*    background-color: orange;*/
    background-color: white;
    width: 45%;
}
nav{
    background-color: white;
    text-align: center;
    width: 100%;
    height: 5%;
}
nav > a{
    font-size: 1.2rem;
    color: gray;
}
header > img{
    background-color: blue;
    width: 100%;
    height: 60%;
}


.left_sect > span{
    width: 100%;
}
.l_s_Top{
    float: left;
    height: 55%;
}
.l_s_Top > span{
    float: left;
    width: 100%;
    height: 49.4%;
}
.l_s_Top > .s_1{
    margin-left: 1rem;
}
.l_s_Bot{
    float: left;
    height: 45%;
    background-color: #003b65;
}
.l_s_Bot > img{
    margin-top: 1%;
    margin-left: 10%;
    
    float: left;
    height: 90%;
    width: 30%;
}


.right_sect > span{
    width: 100%;
}
.r_s_Top{
    float: right;
    height: 55%;
}


.r_s_Bot{
    float: right;
    height: 45%;
    background-color: #003b65;
    color: aqua;
}
.r_s_Bot > a{
    margin-top: 18%;
    font-size: 1.3rem;
    color: aquamarine;
}
.r_s_Bot > #one{
    float: left;
    margin-left: 10%;
}
.r_s_Bot > #two{
    float: right;
    margin-right: 10%;
}

/******Main section/department links of newsletter******/

main{
/*    border: 1px solid black;*/
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}
main > .dep_template{
    float: left;
    width: 100%;
    display: inline-block;
}

.department_1{
/*    background-color: aqua;*/
    height: 30%;
}
.department_2{
/*    background-color: gold;*/
    height: 40%;
}
.department_3{
/*    background-color: green;*/
    height: 30%;
}

.department_area_words{
    overflow: hidden;
}

.department_1 > .dep_template_img{
    float: left;
    width: 100%;
    height: 20%;
}
.department_1 > .dep_template_words{
/*    background-color: blue;*/
    float: left;
    width: 55%;
    height: 80%;
}
.department_1 > .dep_template_logo{
/*    background-color: blueviolet;*/
    float: right;
    width: 45%;
    height: 80%;
}
.department_2 > .dep_template_img{
    float: left;
    width: 100%;
    height: 20%;
}
.department_2 > .dep_template_words{
/*    background-color: blue;*/
    float: left;
    width: 55%;
    height: 80%;
}
.department_2 > .dep_template_logo{
/*    background-color: blueviolet;*/
    float: right;
    width: 45%;
    height: 80%;
}
.department_3 > .dep_template_img{
    float: left;
    width: 100%;
    height: 20%;
}
.department_3 > .dep_template_words{
/*    background-color: blue;*/
    float: left;
    width: 55%;
    height: 80%;
}
.department_3 > .dep_template_logo{
/*    background-color: blueviolet;*/
    float: right;
    width: 45%;
    height: 80%;
}

.department_area_words > h2{
    margin-left: 10%;
    text-align: left;
    float: left;
    color: #003366;
    font-size: 1.5rem;
}
.department_area_words > p{
    float: left;
    margin-left: 10%;
    color: grey;
    font-size: 1.3rem;
}
.department_area_words > h5{
    margin-left: 10%;
    text-align: left;
    float: left;
    color: crimson;
}
.department_area_words > h3{
/*    display: block;*/
    float: left;
    margin-left: 10%;
    color: #003366;
/*    font-size: 1.7rem;*/
}

.department_area_logo > img{
    float: right;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}


/******Ending sections/social media information of Newsletter******/

footer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 26%;
    background-color: #003b65;
    color: white;
}
footer > img{
    max-width: 100%;
    float: left;
}
footer > div{
    height: 100%;
    text-align: left;
}

.footer_directory_1,.footer_directory_2{
    float: left;
    width: 27.5%;
}
.footer_directory_3{
    float: right;
    width: 45%;
}



.white_link{
    margin-left:  11%;
    font-size: 1.4rem;
    color: white;
}
.blue_link{
    margin-left:  13%;
    font-size: 1.35rem;
    color: paleturquoise;
}